@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap");
* {
    padding: 0;
    margin: 0;
}

body {
    font-family: IBM Plex Sans, sans-serif;
}


h1 {
    font-size: 5rem;
}

h3 {
    font-size: 2rem;
}

.first-section {
    display: flex;
    padding-left: 6rem;
    justify-content: space-between;
}


.hero-left {
    padding-top: 3rem;
    width: 50%;
}

.hero-left h1 {
    padding-top: 3rem;
    padding-bottom: 4rem;
}


.cta {
    background-color: #191826;
    position: relative;
    height: 600px;
    background-image: url(images/bg-pattern-2.svg);
    background-repeat: no-repeat;
    margin: 0 auto;
    background-position: center top;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4rem;
    align-items: center;
    margin-top: 15rem;
    width: 80%;
    padding-inline: 30px;
    border-radius: 15px;
}


.mobile-phone img {
    width: 270px;
    height: auto;
    margin-bottom: 12rem;
}

.premium {
    background-color: #fa7453;
    border-radius: 10px;
    padding: 30px;
    color: white;    
    width: 400px;;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    margin-top: 12rem;
}

.premium p { 
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.5px;
    /* margin-left: 25px; */
}

.premium p span {
    font-size: 60px;
    font-weight: 700;
}

.btn-container {
    display: flex;
    flex-direction: column;
}

button {
    border: none;
    border-radius: 12px;
    font-size: 18px;
    font-weight: 700;
    padding: 15px 25px;
    cursor: pointer;
    transition: 0.7s;
}

button img {
    transform: translateY(2px);
    margin-right: 5px;
}

button:not(:last-child) {
    background-color: #191826;
    color: white;
    margin-bottom: 25px;
}

.apple:hover {
    color: #191826;
    background-color: #66e2dc;
}

.android:hover {
    background-color: #ffb964;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10rem;
    padding: 3rem;
    padding-block: 5rem;
}

.footer-container {
    width: 70%;
    display: flex;
    /* align-items: stretch; */
    justify-content: space-between;
}

footer .contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
}

.complaints {
    width: 50%;
    line-height: 25px;
}

footer h3, a {
    color: #191826;
    text-decoration: none;
}

.icons {
    display: flex;
    gap: 1rem;
    align-items: center;
}

@media (max-width: 1150px) {
    .cta {
        gap: 10px;
        padding: 10px;
        margin: 6rem;
        max-width: 1110px;
    }
    .premium {
        gap: 15px;
        padding: 10px;
        margin: 0;
    }
    .premium p {
        margin: 0;
        text-align: center;
    }
    .mobile-phone img {
        margin: 0;
    }
    .footer-container {
        width: 100%;
        flex-direction: column;
        gap: 3rem;
    }
    footer .contact {
        width: 100%;
    }
    .complaints {
        width: auto;
    }
}

@media (max-width: 800px) {
    .hero-left {
        width: 100%;
    }

    .first-section img {
        display: none;
    }
    .first-section {
        padding-inline: 2rem;
    }
    h1 {
        font-size: 3rem;
    }
    .cta {
        margin: 6rem auto;
        flex-direction: column;
        gap: 0;
    }
    .premium {
        width: 100%;
    }
    .mobile-phone img {
        margin-top: 10rem;
    }
}


@media (max-width: 615px) {
    footer {
        margin-top: 12rem;
        padding-inline: 15px;
    }
    .premium {
        flex-direction: column;
        /* margin-top: 330px; */
    }
    .contact {
        flex-direction: column;
        align-items: start;
        gap: 2rem;
    }
    .contact .icons {
        align-self: flex-start;
    }
    .complaints {
        width: 100%;
    }
}

@media (max-width: 350px) {
    h1 {
        font-size: 2rem;
        padding-top: 0;
        padding-bottom: 0;
    }
    .mobile-phone {
        width: 100%;
    }
    .mobile-phone img {
        margin-top: 15rem;
        width: 100%;
    }
}

@media (max-width:  230px) {
    h1 {
        font-size: 25px;
    }
    h3 {
        font-size: 20px;
    }
    .hero-left p {
        font-size: 14px;
    }
}